@using Fussballteam.Models
@{
    ViewData["Title"] = "TeamStatistics";
}

<!doctype html>
<html lang="en">
  
  <body>
    
<main>   

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Calculate Average Salary</h2>
          <p>Hit the below Button to get the average Salary of your team.</p>
          <form>
          <button name="button" value="Get Average Salary" asp-action= "check">Get Average Salary </button>
          </form>
              <div>
    @TempData["ButtonValue"]
    </div>
          
         @* @using (Html.BeginForm("Index1", "Home", FormMethod.Post))
    {
      <input type="submit" value="Get Average Salary" />
    }*@

        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Calculate Average Age</h2>
          <p>Hit the below Button to get the average Salary of your team.</p>
          <form>
          <button name="button" value="Get Average Age" asp-action= "check">Get Average Age </button>
          </form>
              <div>
    @TempData["ButtonValue2"]
        </div>
      </div>
    </div>

    <br />
    <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Highest Salary</h2>
          <p>Hit the below Button to get the Player with the highest Salary of your team.</p>
          <form>
          <button name="button" value="Get Player with highest Salary" asp-action= "check">Get Player with highest Salary </button>
          </form>
              <div>
    @TempData["ButtonValue3"]
        </div>
      </div>
    </div>

    <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Lowest Salary</h2>
          <p>Hit the below Button to get the Player with the lowest Salary of your team.</p>
          <form>
          <button name="button" value="Get Player with lowest Salary" asp-action= "check">Get Player with lowest Salary </button>
          </form>
              <div>
    @TempData["ButtonValue4"]
        </div>
      </div>
    </div>   
  </div>
</main>    
  </body>
</html>
