@using Fussballteam.Models
@model IEnumerable<PlayerModel>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Players</title>
</head>
<body>
    @using (Html.BeginForm("Index", "Player", FormMethod.Post))
    {
      <input type="submit" value="Get Players" />
    }
    @if (Model.Count() > 0)
    {
        <hr />
        <table cellpadding="0" cellspacing="0" border="1">
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Age</th>
                <th>Salary</th>
            </tr>
            @foreach (PlayerModel player in Model)
            {
                <tr>
                    <td>@player.Name</td>
                    <td>@player.Position</td>
                    <td>@player.Age</td>
                    <td>@player.Salary</td>
                </tr>
            }
        </table>
    }
</body>
</html>